<header>
  <button (click)="showNav = !showNav" class="material-icons">
    {{ showNav ? 'close' : 'menu' }}
  </button>

  <!--
        The unusual handling of showNav ensures that the nav animations are only
        triggered at the appropriate points.
      -->
  <a routerLink="/" (click)="showNav = showNav ? false : showNav">
    <h1>{{ title }}</h1>
  </a>
</header>

<nav (click)="showNav = false" [class.showNav]="showNav" [class.hideNav]="showNav === false">
  <a routerLink="/home">
    Home
  </a>

  <a routerLink="/groups">
    Groups
  </a>

  <a routerLink="/">
    Link
  </a>

</nav>

<main>
  <router-outlet></router-outlet>
</main>

<footer>

  <a target="_blank" href="/">
    Link
  </a>

  <a target="_blank" href="/">
    Link
  </a>

  <a target="_blank" href="/">
    Link
  </a>

</footer>
