:host {
  display: grid;
  
  grid-gap: 0;
  
  /* beautify ignore:start */
    grid-template:
                          " header         header   header "         auto
        [panelRight-start][panelLeft-start] " sidebar-left   main     sidebar-right "  1fr   [panelLeft-end][panelRight-end]
                          " footer         footer   footer "         auto

      / [panelLeft-start] 1fr [panelLeft-end]   7fr  [panelRight-end] 1fr [panelRight-start]
  ;
  /* beautify ignore:end */
  
  height: 100vh;
  
  padding: 0;
}
  
main {
  grid-area: main;
}
  
li {
  margin-top: 10px;
  margin-bottom: 10px;
}
  
.currentSelection {
  font-weight: bold;
}
  