<header>
  <button (click)="showNav = !showNav" class="material-icons">
    {{ showNav ? 'close' : 'menu' }}
  </button>
  
  <!--
    The unusual handling of showNav ensures that the nav animations are only
    triggered at the appropriate points.
  -->
  <a routerLink="/" (click)="showNav = showNav ? false : showNav">
    <h1>{{ title }}</h1>
  </a>
</header>
  
<nav (click)="showNav = false" [class.showNav]="showNav" [class.hideNav]="showNav === false">
  <ul *ngFor="let link of sideMenu.links">
    <li><a routerLink="{{ link.link }}">{{ link.name }}</a></li>
  </ul>
</nav>
  
<main>
  <router-outlet></router-outlet>
</main>

<footer>
  <ul *ngFor="let link of footerMenu.links">
    <li><a routerLink="{{ link.link }}">{{ link.name }}</a></li>
  </ul>
</footer>
